$animation-time: .5s;

$color-charcoal: #2A2A2A;
$color-grey: #AAA;
$color-orange: #D9230F;
$color-tan-1: #F8D092;
$color-tan-2: #E4BA8F;
$color-tan-3: #D7A480;
$color-tan-4: #A07D6A;
$color-tan-5: #726154;
$color-white: #EEE;

$font-normal: 1em;
$font-medium: 1.125em;
$font-large: 1.25em;
$font-x-large: 1.5em;

$theme-space: 1rem;
$theme-space-small: $theme-space / 2;
$theme-space-medium: $theme-space * 1.5;
$theme-space-large: $theme-space * 2;
$theme-space-x-large: $theme-space * 2.5;
$theme-space-xx-large: $theme-space * 3;
