@import 'theme/vars';

$header-image-height: $theme-space * 15;

.weapon-details-container {
  background: $color-orange;

  .header-image {
    background-position-y: 20%;
    background-repeat: no-repeat;
    background-size: cover;
    height: $header-image-height;
    transition: background-position-y $animation-time;
    width: 100%;

    &:hover {
      cursor: pointer;
      background-position-y: 65%;
      transition: background-position-y $animation-time;
    }
  }

  .content {
    padding: $theme-space-large;
  }

  .title {
    margin: 0 0 $theme-space-large;
  }

  .subtitle {
    margin: $theme-space;
  }
}
