@import 'theme/vars';

$header-image-height: $theme-space * 15;

.weapon-details-container {
  background: $color-orange;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .header-image {
    background-position-y: 10%;
    background-repeat: no-repeat;
    background-size: cover;
    height: $header-image-height;
    flex-basis: 30%;
    transition: background-position-y $animation-time;
    width: 100%;

    &:hover {
      cursor: pointer;
      background-position-y: 50%;
      transition: background-position-y $animation-time;
    }
  }

  .content {
    flex-basis: 70%;
    overflow: auto;
    padding: $theme-space-large;
  }

  .title {
    margin: 0 0 $theme-space-large;
  }

  .subtitle {
    margin: $theme-space;
  }

  .key-value-table {
    margin-bottom: $theme-space;
  }
}
