@import 'theme/vars';

.weapon-list-container {
  flex-basis: 20%;
  overflow-x: hidden;
  overflow-y: auto;
}

.weapon-list-header {
  background: $color-tan-1;
  color: $color-charcoal;
  font-size: $font-x-large;
  letter-spacing: $theme-space;
  margin: 0;
  padding: $theme-space-large;
  text-transform: uppercase;
}

.weapon-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;

  > * {
    background: $color-tan-2;
    color: $color-charcoal;
    cursor: pointer;
    flex-basis: 5em;
    font-size: $font-medium;
    line-height: 5em;
    padding-left: $theme-space-large;
    position: relative;
    text-transform: uppercase;
    width: calc(100% - #{$theme-space-large});

    &:hover {
      background: $color-orange;
      color: $color-white;
    }

    &.active:before {
      background: $color-tan-5;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      width: $theme-space-small;
    }

    &.disabled {
      color: $color-white;
      cursor: default;

      &:hover {
        background: $color-tan-2;
      }
    }
  }
}
